        <!-- .main-footer__logo-container+.main-footer__newsletter-container+.main-footer__nav-container+.main-footer__social-media-container+.main-footer__disclaimer-container -->
        <div class="main-footer__container">

            <div class="main-footer__logo-container">
                <img class="main-footer__logo" src="public/images/jugueteria-cosmica__logo-vector-withe.svg" alt="logo vector de Juguetería cósmica blanco">
                <p class="main-footer__copyright">© 2022</p>
            </div>
            
            <div class="main-footer__wrapper-1">

                <div class="main-footer__newsletter-form-container">

                    <form class="newsletter-form" action="#" method="get">

                        <label class="newsletter-form__label" for="newsletter-form-input">Inscríbete a nuestro newsletter</label>
                        <div class="newsletter-form__input-container">
                            <!-- input.newsletter-form-input[type=email id="newsletter-form-input" placeholder="tucorreo@mail.com"] -->
                            <input type="email" class="newsletter-form__input" id="newsletter-form-input" placeholder="tucorreo@mail.com">
                            <!-- button.newsletter-form__submit-btn[type="submit"] -->
                            <button class="newsletter-form__submit-btn" type="submit"></button>
                        </div>

                    </form>

                </div>

                <div class="main-footer__nav-container">
                <!-- ul.footer-nav-list>li*3.footer-nav-list__item>a.footer-nav-list__link -->
                    <ul class="footer-nav-list">
                        <li class="footer-nav-list__item">
                            <a class="footer-nav-list__link" href="/home">Regresa a inicio</a>
                        </li>
                        <li class="footer-nav-list__item">
                            <a class="footer-nav-list__link" href="/about-us">Nosotros</a>
                        </li>
                        <li class="footer-nav-list__item">
                            <a class="footer-nav-list__link" href="/contact">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-footer__wrapper-2">

                <div class="main-footer__social-container">
                    <h2 class="main-footer__social-headline">Síguenos:</h2>

                    <div class="main-footer__social-icon-container">

                        <a href="#" class="main-footer__social-link">
                            <img class="main-footer__social-icon" src="public/images/facbook-icon.svg" alt="Ícono vector de Facebook">
                        </a>

                        <a href="#" class="main-footer__social-link">
                            <img class="main-footer__social-icon" src="public/images/ig-icon.svg" alt="Ícono vector de Instagram">
                        </a>

                        <a href="#" class="main-footer__social-link">
                            <img class="main-footer__social-icon" src="public/images/twitter-icon.svg" alt="Ícono vector de Twitter">
                        </a>

                        <a href="#" class="main-footer__social-link">
                            <img class="main-footer__social-icon" src="public/images/tiktok-icon.svg" alt="Ícono vector de TikTok">
                        </a>

                    </div>
                </div>

                <div class="main-footer__disclaimer-container">
                    <p class="main-footer__disclaimer">
                            Ornare fringilla porta mattis porttitor porttitor sit sed ullamcorper. Pulvinar eu urna, tortor vel 
                            morbi elementum, sagittis sed. Venenatis in aenean tellus id neque. Aliquam quis lectus sed in ac 
                            risus a. Et ullamcorper quam integer varius ipsum. Tristique eu consectetur.
                    </p>
                </div>
                
            </div>
            
        </div>