<div class="main-header__header-bar-container">
            
    <div class="main-header__logo-container">
        <img class="main-header__logo" src="public/images/jugueteria-cosmica__logo-vector-4x4.png" alt="logo vector de Juguetería cósmica" title="Logo">
    </div>

    <div class="main-header__icon-container">

        <input class="search-form__checkbox" type="checkbox" id="search-form-toggle">
        <div class="main-header__search-form-container">

            <div class="search-form">
                <label class="search-form__label-init" for="search-form-toggle"></label>
                <label class="search-form__label-active" for="search-form-toggle"></label>
                <div class="search-form__border"></div>
                <input class="search-form__input" type="text" placeholder="Buscar">
                <div class="search-form__close"></div>
                <input class="search-form__input--wide-screen" type="text" placeholder="Buscar">
            </div>

        </div>

        <div class="main-header__cart-button-container">
            <img class="cart-button__icon" src="public/images/main-header__cart-button-icon.svg" alt="ícono de carrito de compra">
        </div>
        
        <div class="main-header__login-button-container">
            <img class="login-button__icon" src="public/images/main-header__login-icon.svg" alt="ícono de carrito de compra">
        </div>

    </div>

    <div class="main-header__hamburger-button-container">
        <label class="hamburger-button" for="main-nav-toggle">
            <span class="hamburger-button__top-bread">
            </span>
            <span class="hamburger-button__meat">
            </span>
            <span class="hamburger-button__bottom-bread">
            </span>
        </label>
    </div>
</div>

<div class="main-header__main-nav-container">
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item">
                <a class="main-nav__link" data-link href="/">
                    <img class="main-nav__item-image"  src="public/images/index-icon.svg" alt="imagen vectorial de un cohete">
                    <img class="main-nav__item-image--wh" src="public/images/index-icon--wh.svg" alt="imagen vectorial de un cohete">
                    Inicio
                </a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" data-link href="/product-register">
                    <img class="main-nav__item-image" src="public/images/register-icon.svg" alt="imagen vectorial de un formulario">
                    <img class="main-nav__item-image--wh" src="public/images/register-icon--wh.svg" alt="imagen vectorial de un formulario">
                    Alta
                </a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" data-link href="/favorites">
                    <img class="main-nav__item-image" src="public/images/fav-icon.svg" alt="imagen vectorial de un corazón">
                    <img class="main-nav__item-image--wh" src="public/images/fav-icon--wh.svg" alt="imagen vectorial de un corazón">
                    Favoritos
                </a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" data-link href="/contact">
                    <img class="main-nav__item-image" src="public/images/contact-icon.svg" alt="imagen vectorial de un sobre despegando">
                    <img class="main-nav__item-image--wh" src="public/images/contact-icon--wh.svg" alt="imagen vectorial de un sobre despegando">
                    Contacto
                </a>
            </li>
            <li class="main-nav__item">
                <a class="main-nav__link" data-link href="/about-us">
                    <img class="main-nav__item-image" src="public/images/about-icon.svg" alt="imagen vectorial de un casco de astronauta">
                    <img class="main-nav__item-image--wh" src="public/images/about-icon--wh.svg" alt="imagen vectorial de un casco de astronauta">
                    Nosotros
                </a>
            </li>
        </ul>
    </nav>
</div>