
.filter{

    &__headline-container{
        padding: 6px 0;
        margin-bottom: 2rem;
        text-align: center;
        color: hsla(0, 0%, 30%, .4);

        @media only screen and (min-width: 0) and (max-width: 768px){
            font-size: 1.2rem;
        }
        @media only screen and (min-width: 768px) and (max-width: 1200px){
            font-size: 1.375rem;
        }
        @media only screen and (min-width: 1200px){
            width: 32%;
            max-width: 400px;
            text-align: left;
            font-size: var(--headline-5);
            position: absolute;
        }
    }

    &__small-display--sort-container{
        padding: 0.5rem 0;
        margin-bottom: 2rem;
        border: hsla(0, 0%, 30%, .6) solid;
        border-width: 1px 0 1px 0;
        display: flex;
        
        @media only screen and (min-width: 1200px){
            display: none;
        }
    }

    &__small-display-container{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 6;

        &.hidden{
            display: none;
        }
    }

    &__large-display-container{
        width: 32%;
        max-width: 400px;
        display: none;

        @media only screen and (min-width: 1200px) {
            margin-top: 7.5rem;
            display: block;
            position: absolute;
        }
    }

}