
.section-parallax-effect{
    min-width: 375px;
    position: relative;
    
    @media only screen and (min-width: 0) and (max-width: 768px){
        margin-top: 2rem;
    }
    @media only screen and (min-width: 1200px){
        position: static;
    }
}

.parallax-effect-container{
    min-width: 375px;
}