*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    min-width: 320px;
    box-sizing: border-box;
}

.screen-black-blur-filter{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    background-color: hsla(0, 0%, 0%, .8);
    backdrop-filter: blur(15px);
    display: none;
}

.shown-filter{
    display: block;
}
