.buying-button-container{
    flex-grow: 2;
}

.buying-button{
    text-decoration: none;
    text-align: center;
    border: solid 2px var(--main-yellow);
    border-radius: 5px;
    font-weight: 600;
    color: var(--main-yellow);
    background-color: transparent;
    display: block;
    overflow: hidden;
    position: relative;

    @media only screen and (min-width: 0) and (max-width: 768px){
        padding: .4rem;
        font-size: var(--headline-5);
        color: #1e1e1e;
        background-color: var(--main-yellow);
    }
    @media only screen and (min-width: 768px) and (max-width: 1200px){
        padding: .5rem;
        font-size: var(--headline-4);
        color: #1e1e1e;
        background-color: var(--main-yellow);
    }
    @media only screen and (min-width: 1200px){
        padding: 0.5rem;
        text-decoration: none;
        text-align: center;
        font-size: var(--headline-4);
        border: solid 2px var(--main-yellow);
        border-radius: 5px;
        color: var(--main-yellow);
        background-color: transparent;
        overflow: hidden;
        z-index: 3;
        display: block;

        &::after{
            content: "";
            width: 5%;
            height: 100%;
            background-color: var(--main-yellow);
            position: absolute;
            left: 0;
            top: 0;
            transition: .2s;
        }
        
        &:hover{
            color: #1e1e1e;

            &::after{
                width: 100%;
                transition: .2s;
                z-index: -1;
            }
        }
    }
}
