.inner-product__edit-btn{
    padding: 9px 30px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: var(--light-green);
    cursor: pointer;

    &:active{
        background-color: var(--dark-green);
    }

    @media only screen and (min-width: 1200px){
        width: 200px;

        &:hover{
            background-color: #007e5b;
        }

        &::after{
            content: 'Editar';
            font-family: var(--font);
            font-weight: 700;
            font-size: var(--headline-5-mobile);
            color: var(--light-grey);
            display: inline-block;
            margin-left: .5rem;
            width: 54px;
            height: 14px;
        }
    }
}