<div class="about-us__wrapper">

    <div class="main__current-page-container">

        <div class="current-page__icon-container">
            <img class="current-page__icon" src="public/images/about-icon--wh.svg" alt="Imagen vectorizada de un casco de astronauta">
        </div>

        <div class="current-page__heading-wrapper">
            <h2 class="current-page__heading">Nosotros</h2>
        </div>

    </div>

    <div class="main__whats-app-button-container">
        <a class="whats-app-button__link" href="http://wa.me/+573332224444"  target="_blank"></a>
    </div>

    <section class="section-parallax-effect">
        <div class="parallax-effect-container">

            <header class="parallax-effect__header">
                <div class="parallax-effect__header-content">
                    <h1 class="parallax-effect__heading">¿Quiénes somos?</h1>
                    <p class="parallax-effect__introduction">
                        Pellentesque mauris risus ipsum adipiscing faucibus feugiat facilisis ultrices id. Consequat et.
                    </p>
                </div>

                <div class="parallax-effect__header-bg-container">

                    <div class="parallax-effect__header-bg-frame-1-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-frame-1.png" alt="">
                    </div>
                    <div class="parallax-effect__header-bg-frame-2-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-frame-2.png" alt="">
                    </div>

                    <div class="parallax-effect__header-bg-6-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-desktop-6.png" alt="">
                    </div>

                    <div class="parallax-effect__header-bg-planet-1-container">
                        <img class="parallax-effect__header-planet" src="public/images/parallax-effect/bg__planet-1.png" alt="Imagen vectorial de la luna">
                    </div>

                    <div class="parallax-effect__header-bg-5-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-desktop-5.png" alt="">
                    </div>

                    <div class="parallax-effect__header-bg-planet-4-container">
                        <img class="parallax-effect__header-planet" src="public/images/parallax-effect/bg__planet-4.png" alt="Imagen vectorial de planeta amarillo con anillos">
                    </div>

                    <div class="parallax-effect__header-bg-4-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-desktop-4.png" alt="">
                    </div>

                    <div class="parallax-effect__header-bg-planet-2-container">
                        <img class="parallax-effect__header-planet" src="public/images/parallax-effect/bg__planet-2.png" alt="Imagen vectorial de planeta azulado">
                    </div>

                    <div class="parallax-effect__header-bg-3-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-desktop-3.png" alt="">
                    </div>
                    <div class="parallax-effect__header-bg-2-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-desktop-2.png" alt="">
                    </div>

                    <div class="parallax-effect__header-bg-planet-3-container">
                        <img class="parallax-effect__header-planet" src="public/images/parallax-effect/bg__planet-3.png" alt="Imagen vectorial de planeta magenta">
                    </div>

                    <div class="parallax-effect__header-bg-planet-5-container">
                        <img class="parallax-effect__header-planet" src="public/images/parallax-effect/bg__planet-5.png" alt="Imagen vectorial de satélite amarillo y naranja">
                    </div>

                    <div class="parallax-effect__header-bg-1-container">
                        <img class="parallax-effect__header-bg-image" src="public/images/parallax-effect/bg-desktop-1.png" alt="">
                    </div>
                    
                    <div class="parallax-effect__header-bg-cart-container">
                        <img class="parallax-effect__header-bg-cart-image" src="public/images/parallax-effect/cart.png" alt="Imagen vectorial en contrapicado de un carrito de compras">
                    </div>
                    
                </div>
                
                <div class="parallax-effect__content-1-wrapper">
                    <p class="parallax-effect__content-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, cupiditate quasi commodi nostrum
                        nihil ex!
                    </p>
                </div>
            </header>

            <div class="parallax-effect__profile-container">
                <div class="parallax-effect__profile-image-container">
                    <img class="parallax-effect__profile-image" src="public/images/iconography-01.png" alt="Imagen vectorial de astronauta saludando">
                </div>
                <div class="parallax-effect__profile-info-container">
                    <h2 class="parallax-effect__profile-heading">Non ac justo orci semper.</h2>
                    <p class="parallax-effect__profile-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui animi illo at sunt architecto.
                        Iusto repellat cupiditate a, exercitationem nostrum amet voluptas autem laudantium ea animi
                        aliquam minima ipsum sed delectus magni odit natus maiores! Quo, animi iste perspiciatis
                        voluptatibus explicabo itaque amet ipsam? Ipsam molestias numquam perspiciatis expedita id.
                    </p>
                </div>
                <div class="parallax-effect__profile-background"></div>
            </div>

            <footer class="parallax-effect__contact-info-container">

                <div class="parallax-effect__contact-profile-image-container">
                    <img class="parallax-effect__contact-profile-image" src="public/images/profile-picture.png" alt="Foto de perfil del desarrollador del sitio web">
                </div>

                <div class="parallax-effect__contact-info-container">
                    <ul class="parallax-effect__contact-link-list">
                        <li class="parallax-effect__contact-link-item">
                            <a class="parallax-effect__contact-link" href="mailto:josel.sanabrias@gmail.com?subject=Contacto">josel.sanabrias@gmail.com</a>
                        </li>
                        <li class="parallax-effect__contact-link-item">
                            <a class="parallax-effect__contact-link" href="https://www.linkedin.com/in/joselsanabrias" target="_blank">www.linkedin.com/in/joselsanabrias</a>
                        </li>
                        <li class="parallax-effect__contact-link-item">
                            <a class="parallax-effect__contact-link" href="https://www.behance.net/JoLuGraphics" target="_blank">www.behance.net/JoLuGraphics</a>
                        </li>
                    </ul>
                </div>

            </footer>

        </div>
    </section>
</div>