<div class="favorites__wrapper">
    
    <div class="main__current-page-container">
    
        <div class="current-page__icon-container">
            <img class="current-page__icon" src="public/images/fav-icon--wh.svg" alt="Imagen vectorizada de un corazón">
        </div>
    
        <div class="current-page__heading-wrapper">
            <h2 class="current-page__heading">Favoritos</h2>
        </div>
    
    </div>
    
    <div class="main__whats-app-button-container">
        <a class="whats-app-button__link" href="http://wa.me/+573332224444"  target="_blank"></a>
    </div>

    <div class="favorites__main-banner-container">
        <img class="favorites__main-banner" src="public/images/favorites__main-banner.jpg" alt="Foto de mujer joven abrazando un oso de peluche de gran tamaño">
    </div>

    <section class="favorites__cards-section">
        <h1 class="cards-section__heading">Favoritos</h1>

        <div class="cards-section__message-container">
            <div class="cards-section__message-icon-container">
                <img class="cards-section__message-icon" src="public/images/section-favorite-message-icon.svg" alt="Imagen vectorial de corazón con bordes punteados">
            </div>
            <h2 class="cards-section__message-content">Tu lista de favoritos está vacía.</h2>
        </div>

        <div class="favorite-cards-container"></div>

        <div class="cards-section__button-container">
            <button class="button-continue-shopping">
                <a class="button-continue-shopping__link" href="/home">
                    Seguir comprando
                </a>
            </button>
        </div>

    </section>

</div>