
/*=====================================================================================================================
=                                                      Color Scheme                                                   =
=====================================================================================================================*/

:root{
    --dark-purple: #400124;
    --main-purple: #7f034d;
    --light-purple: #bf067d;
    --dark-yellow: #b26e29;
    --main-yellow: #e5912e;
    --light-yellow: #ffa233;
    --dark-green: #003d2e;
    --main-green: #007f5e;
    --light-green: #00bf88;
    --texts: #4d4d4d;
    --mid-gray: #b3b3b3;
    --light-grey: #f2f2f2;
}

/*==============================================  End of Color Scheme  ==============================================*/